* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url('../img/Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
}